# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Packages #
############
*.DS_Store
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

.sass-cache
sites/all/modules/custom/agenda/node_modules
sites/all/modules/custom/agenda/node_modules/*
/sites/all/modules/custom/agenda/node_modules
/sites/all/modules/custom/agenda/node_modules/*
/sites/all/modules/custom/agenda/styleguide/*
