#participants .form-group {
    margin-bottom: 15px;
    display: inline-block;
}

#participants .form-item .form-control {
    width: 80%;
    display: inline-block;
}

.view-usuarios-agenda-de-servicios .views-exposed-form .views-widget-filter-uid {
    float: left;
    width: 80%;
}

#block-agenda-citas-ajax {
    display: none;
}