#participants .form-group {
    margin-bottom: 15px;
    display: inline-block;
}

#participants .form-item .form-control {
    width: 80%;
    display: inline-block;
}

.view-usuarios-agenda-de-servicios .views-exposed-form .views-widget-filter-uid {
    float: left;
    width: 80%;
}

.calendar.dayview.empy {
    background: #a6d8a6!important;
}

.calendar.dayview.full {
    background: #bbbfbb!important;
}

#participants .form-group {
    margin-bottom: 15px;
    display: inline-block;
}

#participants .form-item .form-control {
    width: 80%;
    display: inline-block;
}

.view-usuarios-agenda-de-servicios .views-exposed-form .views-widget-filter-uid {
    float: left;
    width: 80%;
}

#block-agenda-citas-ajax h2.block-title {
    display: none;
}

#block-agenda-citas-ajax {
    display: none;
}

.alert.alert-block.alert-danger.messages.error {
    display: none;
}
/* ------------------ Mega Menu ------------------ */
@media screen and (max-width: 48.937em) {
    .navbar-brand {
        margin-left: 16px;
    }
    a.logo {
        padding: 5px 15px;
        font-size: 17px;
        line-height: 20px;
        border-right: 2px solid #9E9E9E;
    }
    header#navbar .navbar-header, .navbar-default .navbar-brand, a.logo {
        color: #000;
        background: #FFEB00;
    }
}
/*------------------ End Mega Menu ------------------ /

/*------------------ Login ------------------ */

body.page-user .main-container .row > section {
	width: 100%;
    background: #E6E7E8;
    box-shadow: 15px 15px #F1F1F2;
    margin-top: 214px;
}
body.page-user .main-container section h1.page-header {
	width: 78%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #808184;
    padding-top: 40px;
}
body.page-user .main-container section ul.tabs--primary.nav.nav-tabs {
    display: none;
}
body.page-user .main-container section .region #block-system-main  {
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
}
body.page-user .main-container section .region #block-system-main form#user-login  {
    width: 70%;
    position: relative;
}
body.page-user .main-container section .region #block-system-main form#user-login .form-item-name  {
    margin-top: 54px; 
}
body.page-user .main-container section .region #block-system-main form#user-login .form-item-pass  {
    margin-bottom: 72px; 
}
body.page-user .main-container section .region #block-system-main form#user-login .form-text {
    background: #FFFFFF;
    border-radius: 0px;
    height: 46px;
}
body.page-user .main-container section .region #block-system-main form#user-login #edit-info {
    position: absolute;
    left: -145px;
    top: 258px;
    width: 75%;
    font-size: 14px;    
    font-family: "Helvetica Neue";
    text-align-last: left;
}
body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
  /*  width: 47%;*/
    position: absolute;
    top: 289px;
    left: 566px;
}
body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace a{
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 15px;
}
body.page-user .main-container section .region #block-system-main form#user-login #edit-actions {
	float: right;
	margin-bottom: 46px;
}
body.page-user .main-container section .region #block-system-main form#user-login button {
	background: #41B65B;
	border-color: #41B65B;
    border-radius: 0px;
}

@media screen and (max-width: 79.9375em) { /*1279*/
    body.page-user .main-container section .region #block-system-main form#user-login #edit-info {
        width: 78%;
        left: -94px;
        top: 258px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
        left: 554px;
    }
}
@media screen and (max-width: 64em) { /*1024*/
    body.page-user .main-container .row > section {
        box-shadow: none;
        width: 81%;
        margin-left: 9.5%;
        margin-top: 90px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login,body.page-user .main-container section h1.page-header  {
        width: 100%;
    }
    body.page-user .main-container section .region #block-system-main form#user-login .form-item-pass {
        margin-bottom: 107px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-info {
        display: none;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
        top: 238px;
        left: 263px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-actions {
        position: absolute;
        top: 232px;
        left: 395px;
    }
}
@media screen and (max-width: 48.9375em) { /*768*/
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
        left: 173px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-actions  {
       left: 306px;
    }
}
@media screen and (max-width: 23.9375em) { /*375*/
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
        left: 12%;
        width: 52%;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace a {
        font-size: 12px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-actions  {
        left: 55%;
    }
    body.page-user .main-container section .region #block-system-main form#user-login button {
        font-size: 12px
    }
}
/*------------------ End Login ------------------ */








/*------------------ Header Calendario - Consejero ------------------ */
/* -\* Usuario consejero - */
body .main-container header  section h2.block-title {
  display: none;
}
body .main-container header section.user-login {
    background-color: #000;
    padding-top: 58px;
   
} 
body .main-container header section.user-login .view-id-user_login {
    display: flex;
}
body .main-container header section.user-login .view-id-user_login .view-header  {
    border-right: 1px solid white;
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol {
    width: 219px;
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol .consejero {
    background: url(../img/consejero.png)no-repeat;
    background-size: contain;
    width: 61px;
    height: 60px;
    float: left;
    margin: 0px 10px 0px 10px;
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol p {
    font-size: 19px;
    margin: 0;
    padding-top: 6px;
    color: white;
    font-family: "lato";
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol h2 {
    margin: 0px;
    font-size: 23px;
    padding-bottom: 10px;
    color: white;
    font-family: "lato";
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol h2::before {
    content: "";
    border-bottom: 5px solid #41B65B;
    width: 62px;
    position: absolute;
    top: 192px;
}

body .main-container header section.user-login .view-id-user_login .view-content .item-list {
    padding-top: 10px;
}
body .main-container header section.user-login .view-id-user_login .view-content ul {
    list-style: none;
}
body .main-container header section.user-login .view-id-user_login .view-content ul span, span a {
    color: white;
    font-family: "lato";
}
@media screen and (max-width: 1024px) {
        /*body .main-container header section.user-login, body .main-container #page-header section.Navegacion_Agenda, body .main-container #page-header .title-agenda-de-servicio, body.page-calendario-consejero .row aside .well, body .main-container .row section div.region.region-content {
            margin-right: -15px;
            margin-left: -15px;
        }*/
    body .main-container header section.user-login .view-id-user_login .view-header, .view-content {
        display: flex;
        justify-content: center;
        margin-bottom: 57px;
    }
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol {
        width: 187px;
    }   
}

@media screen and (max-width: 674px) {
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol .consejero {
        width: 50px;
        height: 47px;
        margin: 10px 10px 0px 20px;
    }
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol p {
        font-size: 14px;
        padding-top: 15px;
    }
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol h2 {
        font-size: 18px;
    }
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol h2::before {
        width: 48px;
    }
    body .main-container header section.user-login .view-id-user_login .view-content ul {
        padding: 0px;
    }    
}
@media screen and (max-width: 320px) {
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol .consejero {
        width: 50px;
        height: 47px;
        margin: 10px 10px 0px 10px;
    }
}

/* -\* sub menu - */
body .main-container header section.Navegacion_Agenda {
    background: #000000;
}
body .main-container header section.Navegacion_Agenda ul.menu {
    width: 64.5%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    background-color: white;
    margin-left: 390px;
}
body .main-container header section.Navegacion_Agenda ul.menu li {
    border-right: 2px solid #000;
    border-bottom: 1px solid #9E9E9E;
}
body .main-container header section.Navegacion_Agenda ul.menu li a {
color: #000;
    text-decoration: none;
    text-align: center;
    width: 74px;
    min-height: 52px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
     -ms-flex-align: center;
    -webkit-align-items: center;
    justify-content: center;
    padding: 0px 73px;
    font-size: 16px;
}
body .main-container header section.Navegacion_Agenda ul.menu li a:hover {
    background: #47AC4B !important;
    color: #fff;
} 

@media screen and (max-width: 1024px) {
    body .main-container header section.Navegacion_Agenda ul.menu {
        width: 100%;
        margin-left: 0px;
        background-color: #FFFFFF;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 1036;
    }
    body .main-container header section.Navegacion_Agenda ul.menu li {
        width: 20%;
        border-right: 2px solid #9E9E9E;
    }
    body .main-container header section.Navegacion_Agenda ul.menu li a {
        width: auto;
    }
}
@media screen and (max-width: 768px) {
    body .main-container header section.Navegacion_Agenda ul.menu li a {
        padding: 0px 18%;
        font-size: 14px;
    }
}

/* -\* Header agenda de servicio - */
body .main-container header section.title-agenda-de-servicio  {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    height: 165px;
    background: #E8E8E8; 
}

body .main-container header section.title-agenda-de-servicio .imagen {
    height: 71px;
    width: 82px;
    background: url(../img/agenda_servicios.png)no-repeat;
    background-size: contain;
}
body .main-container header section.title-agenda-de-servicio h2 {
    margin: 0 auto;
}

@media screen and (max-width: 1024px) { 
    body .main-container header section.title-agenda-de-servicio h2 {
        width: 128px;
        font-size: 23px;
    }
    body .main-container #page-header .title-agenda-de-servicio .imagen {
        height: 39px;
        width: 47px;
    }
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad div#magical-modal-link a {
        color: #FFF;
        background: #47AC4B;
        padding: 8px 8%;
    }

}

/*------------------ Row Calendario ------------------ */
/* -\* Calendario contenedor  - */
body.page-calendario-consejero .row {
    border: 3px solid #808184;
    padding: 22px;
    margin: auto;
}
body.page-calendario-consejero .row aside .well {
    background-color: #FFF;
    border: none;
    box-shadow: none;
    
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor {
    position: relative;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header { 
    color: #808184;
    font-size: 26px;
} 
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar button.button-calendar {
     position: absolute;
    background: url("../img/flecha.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 19px;
    top: 39px;
    left: 41px;
    border-color: transparent;
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    padding: 0px;
}

body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav { 
    display: inline-block;
    margin-top: 63px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav .pagination >li > a { 
    color: #000;
    background-color: transparent;
    border: none;
    font-size: 12px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav .prev { 
    position: absolute;
    top: 0px;
    left: 0px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav h3 { 
    position: absolute;
    top:0px;
    left: 46px;
    margin-top: 0px;
    margin-bottom: 0px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav .next { 
    position: absolute;
    top: 0px;
    left: 159px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav h3 a { 
    color: #000;
    font-family: "Myriad Pro";
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .calendar-calendar tr td.today {
    background-color: #4C48A8;
    color: white;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .calendar-calendar td.has-no-events {
    text-align: center;
    color: black;
} 
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .calendar-calendar th.days {
    background-color: transparent;
    color: #000;
    font-weight: normal;
    border: 1px solid transparent;
}


/* -\* Button Crear Disponibilidad - */
body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
    width: 100%
}
body.page-calendario-consejero .row aside .well .crear_disponibilidad h2.block-title {
    display: none;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad div#magical-modal-link {
    margin-top: 38px;
    text-align: center;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad div#magical-modal-link a {
    color: #FFF;
    background: #47AC4B;
    padding: 8px 38px;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-disponible , .cupo-lleno, .hoy {
    display: inline-flex;
    padding: 26px 0px 0px 0px;
}

body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-disponible .caja-1 {
    width: 25px;
    height: 25px;
    background-color: #47AC4B;
    display: inline-block;
    margin-right: 10px;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-lleno .caja-2 {
    width: 25px;
    height: 25px;
    background-color: #6D6E70;
    display: inline-block;
    margin-right: 10px;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad .hoy .caja-3 {
    width: 25px;
    height: 25px;
    background-color: #4C48A8;
    display: inline-block;
    margin-right: 10px;
}

/* -\* Button Mes - Semana - Dia - */
body .main-container .row section ol.breadcrumb,h1 {
    display: none; 
}
body .main-container .row section ul.tabs--primary {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-direction: column;
    align-items: flex-end;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    list-style: none;
    background-color: transparent;
    width: 25px;
    float: right;
    position: relative;
    right: 54px;
    border-radius: 28px;
    border: 2px solid #808184;
    position: absolute;
}
@media screen and (max-width: 1024px) {
    body .main-container .row section ul.tabs--primary {
        display: none;
    }
    
}

body .main-container .row section ul.tabs--primary li {
    display: list-item;
    position: relative;
    left: 59px;
}
body .main-container .row section ul.tabs--primary li a {
    color: #000;
    width: 72px;
    padding: 0px;
    margin: 0px; 
}
body .main-container .row section ul.tabs--primary li a:hover {
    border-color: transparent;
    background-color: transparent;
}

body .main-container .row section ul.tabs--primary li a:before {
    content: "•"; 
    padding-right: 16px;
    color: #41B65B;
    font-size: 15px;
}

/* -\* Calendario de Agenda - */
body .main-container .row section div.region.region-content {
    clear: both;
    z-index: -100;
}
body .main-container .row section div.region.region-content .view-consejero-calendar {
    position: relative;
}

body .main-container .row section div.region.region-content .view-consejero-calendar .view-header nav ul {
    position: absolute;
    top: 0px;
    left: 0px;
}
body .main-container .row section div.region.region-content .view-consejero-calendar .view-header nav li.prev a, li.next a {
    color: #000;
    background-color: transparent;
    border: 1px solid transparent;
}

body .main-container .row section div.region.region-content .view-consejero-calendar .view-header nav h3 {
    margin-left: 150px;
    color: #808184;
    width: 342px;
    border-right: 2px solid #808184;
}
body .main-container .row section div.region.region-content .view-consejero-calendar .view-content .calendar-calendar td {
    border: 1px solid #231F20;
}
body .main-container .row section div.region.region-content .view-consejero-calendar .view-content .calendar-calendar th.days {
    background-color: #F9FAFB;
    color: #808081;
    font-weight: normal;
    border: none;
}

body .main-container .row section div.region.region-content .view-consejero-calendar .view-content .calendar-calendar .week-view .full div.calendar-agenda-items,.calendar-calendar .week-view .full div.calendar-agenda-hour {
    border-top: 1px solid #231F20;
}
body .main-container .row section div.region.region-content .view-consejero-calendar .view-content .calendar-calendar .week-view div.single-day .half-hour {
        border-bottom: 1px dotted #231F20;
}

/*------------------ End Calendario - Consejero ------------------ */

/*------------------ Media Query ------------------ */
@media screen and (max-width: 1024px) {
    /* -\* Calendario contenedor  - */
    body.page-calendario-consejero .row {
        padding: 0px;
        margin: 0px;
        border: none;
    }
    body.page-calendario-consejero .row aside {
        margin: 0px !important;
        padding: 0px !important;
    }
    body.page-calendario-consejero .row aside .well {
        padding: 0px;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header {
        width: 100%;
        background-color: #47AC4B;
        height: 85px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .date-calendar-today {
        font-size: 17px;
        color: white;
        order: 2;  
        position: absolute;
        left: 110px;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar button.button-calendar {
        background: url(../img/Menu.png)no-repeat;
        background-size: 27px;
        border-color: transparent;
        border-radius: 0px;
        border-width: 0px;
        padding: 0px;
        width: 44px;
        height: 25px;
        margin: 0px 10px;
        order: 3;
        top: 30px;
        left: 0;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav {
        order: 1;
        background-color: white;
        position: absolute;
        top: 0px;
        left: 0;
        width: 75%;
        margin: 0 auto;
        height: 58px;
        border-right: 3px solid #BBBDBF;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav .prev {
        top: 17px;
        left: 15%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav .next {
         top: 17px;
        left: 80%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav h3 {
        top: 17px;
        left: 41%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .month-view {
        width: 75%;
        display: flex;
        justify-content: center;
        background: red;
        border-right: 3px solid #BBBDBF;
        position: absolute;
        top: 58px;
        left: 0;
        z-index: 1;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .month-view table {
        width: 76%;
    }

    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .date-nav-wrapper::before {
        content: "+";
        font-size: 40px;
        -ms-transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
        transform: rotate(43deg);
        position: absolute;
        top: 0px;
        left: 93%;
        margin: 0px;
        padding: 0px;
        color: black;
    }
    /* -\* Button Crear Disponibilidad - */
     body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
        width: 76.6%;
        background: gray;
        border-right: 3px solid #BBBDBF;
        position: absolute;
        top: 186px;
        left: -15px;
        z-index: 1;
    }
     body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-disponible, .cupo-lleno, .hoy {
        justify-content: center;
        align-items: center;
        font-size: 12px
    }
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-disponible .caja-1, .cupo-lleno .caja-2, .hoy .caja-3 {
        width: 21px;
        height: 21px;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav, body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .month-view, body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
        transform: translateX(-100%);
        z-index: 1;
        background-color: white;
    }
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad div#magical-modal-link a {
        padding: 8px 13%;
    } 
    /* -\* Enlace ir a hoy - */
    body .main-container .row section div.region.region-content .view-consejero-calendar .view-header a.active {
        color: white;
        position: absolute;
        right: -182px;
        top: -75px;
    }
}
@media screen and (max-width: 768px) {
    body .main-container .row section div.region.region-content .view-consejero-calendar .view-header a.active {
        right: 64px;
    }  
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .date-calendar-today {
        left: 50px;
    }  
}
@media screen and (max-width: 674px) {
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav .prev {
        left: 7%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav .next {
        left: 77%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav h3 {
        left: calc(38% - 1em);
    }
}


@media screen and (max-width: 991px ) {
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
    width: calc(78.2% + 0.1%);
    }
}
@media screen and (max-width: 667px ) {
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
    width: calc(78.2% + 2px);
    }
}

@media screen and (max-width: 375px ) {
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
    width: calc(78.2% + 4px);
    }
}







/*------------------ Media Query ------------------ */