#participants .form-group {
    margin-bottom: 15px;
    display: inline-block;
}

#participants .form-item .form-control {
    width: 80%;
    display: inline-block;
}

.view-usuarios-agenda-de-servicios .views-exposed-form .views-widget-filter-uid {
    float: left;
    width: 80%;
}



#participants .form-group {
    margin-bottom: 15px;
    display: inline-block;
}

#participants .form-item .form-control {
    width: 80%;
    display: inline-block;
}

.view-usuarios-agenda-de-servicios .views-exposed-form .views-widget-filter-uid {
    float: left;
    width: 80%;
}

#block-agenda-citas-ajax h2.block-title {
    display: none;
}

#block-agenda-citas-ajax {
    display: none;
}

.alert.alert-block.alert-danger.messages.error {
   /* display: none;*/
}

/*------------------ Login ------------------ */

body.page-user .main-container .row > section {
	width: 100%;
    background: #E6E7E8;
    box-shadow: 15px 15px #F1F1F2;
    margin-top: 214px;
}
body.page-user .main-container section h1.page-header {
	width: 78%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #808184;
    padding-top: 40px;
}
body.page-user .main-container section ul.tabs--primary.nav.nav-tabs {
    display: none;
}
body.page-user .main-container section .region #block-system-main  {
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
}
body.page-user .main-container section .region #block-system-main form#user-login  {
    width: 70%;
    position: relative;
}
body.page-user .main-container section .region #block-system-main form#user-login .form-item-name  {
    margin-top: 54px; 
}
body.page-user .main-container section .region #block-system-main form#user-login .form-item-pass  {
    margin-bottom: 72px; 
}
body.page-user .main-container section .region #block-system-main form#user-login .form-text {
    background: #FFFFFF;
    border-radius: 0px;
    width: 96%;
    height: 46px;
}
body.page-user .main-container section .region #block-system-main form#user-login #edit-info {
    position: absolute;
    left: -145px;
    top: 258px;
    width: 75%;
    font-size: 14px;    
    font-family: "Helvetica Neue";
    text-align-last: left;
}
body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
  /*  width: 47%;*/
    position: absolute;
    top: 289px;
    left: 566px;
}
body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace a{
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 15px;
}
body.page-user .main-container section .region #block-system-main form#user-login #edit-actions {
	float: right;
	margin-bottom: 46px;
}
body.page-user .main-container section .region #block-system-main form#user-login button {
	background: #41B65B;
	border-color: #41B65B;
    border-radius: 0px;
    color: white;
}

@media screen and (max-width: 79.9375em) { /*1279*/
    body.page-user .main-container section .region #block-system-main form#user-login #edit-info {
        width: 78%;
        left: -94px;
        top: 258px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
        left: 554px;
    }
}
@media screen and (max-width: 1199px) {
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
        left: 445px;
    }
}

@media screen and (max-width: 64em) { /*1024*/
    body.page-user .main-container .row > section {
        box-shadow: none;
        width: 81%;
        margin-left: 9.5%;
        margin-top: 90px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login,body.page-user .main-container section h1.page-header  {
        width: 100%;
    }
    body.page-user .main-container section .region #block-system-main form#user-login .form-item-pass {
        margin-bottom: 107px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-info {
        display: none;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
        top: 238px;
        left: 263px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-actions {
        position: absolute;
        top: 232px;
        left: 395px;
    }
}
@media screen and (max-width: 48.9375em) { /*768*/
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
        left: 173px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-actions  {
       left: 306px;
    }
}
@media screen and (max-width: 23.9375em) { /*375*/
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace {
        left: 12%;
        width: 52%;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-enlace a {
        font-size: 12px;
    }
    body.page-user .main-container section .region #block-system-main form#user-login #edit-actions  {
        left: 55%;
    }
    body.page-user .main-container section .region #block-system-main form#user-login button {
        font-size: 12px
    }
}
/*------------------ End Login ------------------ */








/*------------------ Header Calendario - Consejero ------------------ */
/* -\* Usuario consejero - */
body .main-container header  section h2.block-title {
  display: none;
}
body .main-container header section.user-login {
    background-color: #000;
    padding-top: 58px;
   
} 
body .main-container header section.user-login .view-id-user_login {
    display: flex;
}
body .main-container header section.user-login .view-id-user_login .view-header  {
    border-right: 1px solid white;
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol {
    width: 219px;
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol .consejero, .estudiante , .administrator {
    width: 61px;
    height: 60px;
    float: left;
    margin: 0px 10px 0px 10px;
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol .consejero {
     background: url(../img/consejero.png)no-repeat;
    background-size: contain;
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol .estudiante {
    background: url(../img/estudiante.png)no-repeat;
    background-size: contain;
    background-position-x: 13px;
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol .administrator {
    background: url(../img/administrator.png)no-repeat;
    background-size: contain;
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol p {
    font-size: 19px;
    margin: 0;
    padding-top: 6px;
    color: white;
    font-family: "lato";
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol h2 {
    margin: 0px;
    font-size: 23px;
    padding-bottom: 10px;
    color: white;
    font-family: "lato";
}
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol h2::before {
    content: "";
    border-bottom: 5px solid #41B65B;
    width: 62px;
    position: absolute;
    top: 192px;
}
body .main-container header section.user-login .view-id-user_login .view-content .item-list {
    padding-top: 10px;
}
body .main-container header section.user-login .view-id-user_login .view-content ul {
    list-style: none;
}
body .main-container header section.user-login .view-id-user_login .view-content ul span, span a {
    color: white;
    font-family: "lato";
}
body .main-container header section.user-login .view-id-user_login .view-content ul span a:hover, a:focus {
    color: white;
    text-decoration: none;
    cursor: auto;
}

body .main-container header section.user-login .view-id-user_login .view-content ul .views-field-field-area {
    display: inline-flex;
    color: #fff;
}
body .main-container header section.user-login .view-id-user_login .view-content ul .views-field-field-area .field-content {
    padding-left: 10px;
}
@media screen and (max-width: 1024px) {
        /*body .main-container header section.user-login, body .main-container #page-header section.Navegacion_Agenda, body .main-container #page-header .title-agenda-de-servicio, body.page-calendario-consejero .row aside .well, body .main-container .row section div.region.region-content {
            margin-right: -15px;
            margin-left: -15px;
        }*/
    body .main-container header section.user-login .view-id-user_login .view-header, .view-content {
        display: flex;
        justify-content: center;
        /*margin-bottom: 57px;*/
    }
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol {
        width: 187px;
    }   
}

@media screen and (max-width: 674px) {
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol .consejero {
        width: 50px;
        height: 47px;
        margin: 10px 10px 0px 20px;
    }
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol p {
        font-size: 14px;
        padding-top: 15px;
    }
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol h2 {
        font-size: 18px;
    }
    body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol h2::before {
        width: 48px;
    }
    body .main-container header section.user-login .view-id-user_login .view-content ul {
        padding: 0px;
    }    
}
@media screen and (max-width: 320px) {
body .main-container header section.user-login .view-id-user_login .view-header .container-user-rol .consejero {
        width: 50px;
        height: 47px;
        margin: 10px 10px 0px 10px;
    }
}

/* -\* sub menu - */
body .main-container header section.Navegacion_Agenda {
    background: #000000;
}
body .main-container header section.Navegacion_Agenda ul.menu {
    width: 734px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    background-color: white;
    float: right;
    margin-right: 11px;
}
body .main-container header section.Navegacion_Agenda ul.menu li {
    border-right: 2px solid #000;
    border-bottom: 1px solid #9E9E9E;
}
body .main-container header section.Navegacion_Agenda ul.menu li a {
color: #000;
    text-decoration: none;
    text-align: center;
    width: 74px;
    min-height: 52px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    align-items: center;
     -ms-flex-align: center;
    -webkit-align-items: center;
    justify-content: center;
    padding: 0px 73px;
    font-size: 16px;
}
body .main-container header section.Navegacion_Agenda ul.menu li a:hover {
    background: #47AC4B !important;
    color: #fff;
} 
body .main-container header section.Navegacion_Agenda ul.menu li.active-trail.active a {
    background: #47AC4B;
    color: white;
}

@media screen and (max-width: 1024px) {
    body .main-container header section.Navegacion_Agenda ul.menu {
        width: 100%;
        margin-right: 0px;
        background-color: #FFFFFF;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 1036;
    }
    body .main-container header section.Navegacion_Agenda ul.menu li {
        width: 20%;
        border-right: 2px solid #9E9E9E;
    }
    body .main-container header section.Navegacion_Agenda ul.menu li a {
        width: auto;
    }
}
@media screen and (max-width: 768px) {
    body .main-container header section.Navegacion_Agenda ul.menu li a {
        padding: 0px 18%;
        font-size: 12px;
    }
}

/* -\* Header agenda de servicio - */
body .main-container header section.title-agenda-de-servicio  {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    height: 165px;
    background: #E8E8E8; 
}

body .main-container header section.title-agenda-de-servicio .imagen {
    height: 71px;
    width: 82px;
    background: url(../img/agenda_servicios.png)no-repeat;
    background-size: contain;
}
body .main-container header section.title-agenda-de-servicio h2 {
    margin: 0 auto;
}

@media screen and (max-width: 1024px) { 
    body .main-container header section.title-agenda-de-servicio h2 {
        width: 128px;
        font-size: 23px;
    }
    body .main-container #page-header .title-agenda-de-servicio .imagen {
        height: 39px;
        width: 47px;
    }
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad div#magical-modal-link a {
        color: #FFF;
        background: #47AC4B;
        padding: 8px 8%;
    }

}

/*------------------ Row Calendario ------------------ */
/* -\* Calendario contenedor  - */
body.page-calendario-consejero .row {
    border: 3px solid #808184;
/*    padding: 22px;*/
    margin: auto;
}
body.page-calendario-consejero .row aside .well {
    background-color: #FFF;
    border: none;
    box-shadow: none;
    
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor {
    position: relative;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header { 
    color: #808184;
    font-size: 26px;
} 
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar button.button-calendar {
     position: absolute;
    background: url("../img/flecha.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 19px;
    top: 39px;
    left: 41px;
    border-color: transparent;
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    padding: 0px;
}

body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav { 
    display: inline-block;
    margin-top: 63px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav .pagination >li > a { 
    color: #000;
    background-color: transparent;
    border: none;
    font-size: 12px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav .prev { 
    position: absolute;
    top: 0px;
    left: 0px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav h3 { 
    position: absolute;
    top:0px;
    left: 46px;
    margin-top: 0px;
    margin-bottom: 0px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav .next { 
    position: absolute;
    top: 0px;
    left: 159px;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav h3 a { 
    color: #000;
    font-family: "Myriad Pro";
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .calendar-calendar tr .mini-day-on {
    padding: 0px;
    text-align: center;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .calendar-calendar tr .mini-day-on  a {    
    color: #000;
    text-decoration: none;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .calendar-calendar tr td.today {
    background-color: #4C48A8;
    color: white;
    text-align: center;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .calendar-calendar tr td.today div a{
    color: white;
    text-decoration: none;
}
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .calendar-calendar td.has-no-events {
    text-align: center;
    color: black;
} 
body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .calendar-calendar th.days {
    background-color: transparent;
    color: #000;
    font-weight: normal;
    border: 1px solid transparent;
}


/* -\* Button Crear Disponibilidad - */
body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
    width: 100%
}
body.page-calendario-consejero .row aside .well .crear_disponibilidad h2.block-title {
    display: none;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad div#magical-modal-link {
    margin-top: 38px;
    text-align: center;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad div#magical-modal-link a {
    color: #FFF;
    background: #47AC4B;
    padding: 8px 38px;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad div#magical-modal-link a .glyphicon-refresh {
    display: none;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-disponible , .cupo-lleno, .hoy {
    display: inline-flex;
    padding: 26px 0px 0px 0px;
}

body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-disponible .caja-1 {
    width: 25px;
    height: 25px;
    background-color: #47AC4B;
    display: inline-block;
    margin-right: 10px;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-lleno .caja-2 {
    width: 25px;
    height: 25px;
    background-color: #6D6E70;
    display: inline-block;
    margin-right: 10px;
}
body.page-calendario-consejero .row aside .well section.crear_disponibilidad .hoy .caja-3 {
    width: 25px;
    height: 25px;
    background-color: #4C48A8;
    display: inline-block;
    margin-right: 10px;
}

/* -\* Button Mes - Semana - Dia - */
body .main-container .row section {
    padding-right: 0px;
}
body .main-container .row section ol.breadcrumb,h1 {
    display: none; 
}
body .main-container .row section ul.tabs--primary {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    list-style: none;
    background-color: transparent;
    border-bottom: 0px solid #ddd;
    width: 25px;
    position: relative;
    position: absolute;
    right: 41px;
    z-index: 1;
    margin-top: 34px;
}
body .main-container .row section ul.tabs--primary:before {
    content: "";
    width: 23px;
    height: 75px;
    border-radius: 28px;
    border: 2px solid #808184;
    position: absolute;
    top: -6px;
    right: 20px;
    z-index: -1;
}
@media screen and (max-width: 1024px) {
    body .main-container .row section ul.tabs--primary {
        display: none;
    }
}

body .main-container .row section ul.tabs--primary li {
    left: 40px;
}
body .main-container .row section ul.tabs--primary li:nth-child(1) {
    display: none;
}
body .main-container .row section ul.tabs--primary li a {
    color: #000;
    padding: 0px !important;
    margin: 0px;
    cursor: pointer !important;
    display: block !important;
    border-radius: 0px !important;
    text-align: left;
    width: 56px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
body .main-container .row section ul.tabs--primary li.active a.active {
    color: #41B65B !important;
    background: transparent;
}

body .main-container .row section ul.tabs--primary li.active a.active:before {
    content: "";
    margin-right: 16px;
    color: #41B65B;
    background-color: #E8E8E8;
    background-image: url("../img/punto.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 48px;
    display: inline-flex;
    width: 12px;
    height: 12px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: 1px solid transparent;
}
/* -\* Calendario de Agenda Fecha - consejero  - */
body .main-container .row section div.region.region-content {
    clear: both;
    z-index: -100;
    margin-top: 37px;
}
body .main-container .row section div.region.region-content .view-id-consejero_calendar {
    position: relative;
}

body .main-container .row section div.region.region-content .view-id-consejero_calendar .view-header nav ul {
    position: absolute;
    top: 0px;
    left: 0px;
}
body .main-container .row section div.region.region-content .view-id-consejero_calendar .view-header nav li.prev a, li.next a {
    color: #000;
    background-color: transparent;
    border: 1px solid transparent;
}

body .main-container .row section div.region.region-content .view-id-consejero_calendar .view-header nav h3 {
    margin-left: 150px;
    color: #808184;
    width: 321px;
    border-right: 2px solid #808184;
    font-size: 22px;
}
body .main-container .row section div.region.region-content .view-id-consejero_calendar .view-content #header-container th {
    border: 0px solid #ccc;
    background-color: #F9FAFB;
    color: #808081;
    font-weight: normal;
    font-size: 12px;
    border-top: 1px solid #808184;
}
/* -\* Calendario de Agenda Día - Semana - Mes  - */

/* Dia */
.calendar-calendar .day-view .full td .inner div.calendar div {
    margin: 2px;
}
.calendar-calendar .day-view .full .single-day .dayview {
    background: #A1D3A1!important;
    color: black;
    border-radius: 0px !important;
    border: 1px solid #47ac4b9c !important;
    border-left: 10px solid #47AC4B !important
}
.view-id-consejero_calendar .calendar a.ctools-use-modal.ctools-use-modal-processed {
    position: absolute;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
    background: transparent;
}
.calendar-calendar .day-view .full .single-day div.dayview span ,.cutoff{
    display: none !important; 
}
/* Semana*/
.view-id-consejero_calendar .calendar-calendar .week-view .full div.single-day div.weekview {
    background: #A1D3A1 !important;
    border-radius: 0px !important;
    border: 0px solid transparent;
    border-left: 10px solid #47AC4B !important;
    font-size: x-small !important;
    text-align: justify;
    word-break: break-all;
}
.calendar-calendar .week-view .full .single-day div.weekview span ,.cutoff{
    display: none !important; 
}

/* Mes */
.calendar-calendar .month-view .full th.days {
    background-color: #F9FAFB;
    color: #808081;
    font-weight: normal;
    border: 0px solid #ccc;
    border-top: 1px solid #000;
    font-size: 12px;
}
.calendar-calendar .month-view .full td, .calendar-calendar .week-view .full td, .calendar-calendar .day-view  td {
    padding: 0px !important;
}
.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {
    background: #47ac4b99 !important;
    border-radius: 0px !important;
} 
.calendar-calendar td {
    color: #000;
}
.calendar-calendar .month-view .full td.single-day div.monthview span {
    display: none !important; 
}

/*------------------ End Calendario - Consejero ------------------ */

/*------------------ Media Query ------------------ */
@media screen and (max-width: 1024px) {
    /* -\* Calendario contenedor  - */
    body.page-calendario-consejero .row {
        padding: 0px;
        margin: 0px;
        border: none;
    }
    body.page-calendario-consejero .row aside {
        margin: 0px !important;
        padding: 0px !important;
    }
    body.page-calendario-consejero .row aside .well {
        padding: 0px;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header {
        width: 100%;
        background-color: #47AC4B;
        height: 85px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .date-calendar-today {
        font-size: 17px;
        color: white;
        order: 2;  
        position: absolute;
        left: 110px;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar button.button-calendar {
        background: url(../img/Menu.png)no-repeat;
        background-size: 27px;
        border-color: transparent;
        border-radius: 0px;
        border-width: 0px;
        padding: 0px;
        width: 44px;
        height: 25px;
        margin: 0px 10px;
        order: 3;
        top: 30px;
        left: 0;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav {
        order: 1;
        background-color: white;
        position: absolute;
        top: 0px;
        left: 0;
        width: 75%;
        margin: 0 auto;
        height: 58px;
        border-right: 3px solid #BBBDBF;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav .prev {
        top: 17px;
        left: 15%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav .next {
         top: 17px;
        left: 80%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav h3 {
        top: 17px;
        left: 41%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .month-view {
        width: 75%;
        display: flex;
        justify-content: center;
        background: red;
        border-right: 3px solid #BBBDBF;
        position: absolute;
        top: 58px;
        left: 0;
        z-index: 1;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .month-view table {
        width: 76%;
    }

    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .date-nav-wrapper::before {
        content: "+";
        font-size: 40px;
        -ms-transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
        transform: rotate(43deg);
        position: absolute;
        top: 0px;
        left: 93%;
        margin: 0px;
        padding: 0px;
        color: black;
    }
    /* -\* Button Crear Disponibilidad - */
     body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
        width: 76.6%;
        background: gray;
        border-right: 3px solid #BBBDBF;
        position: absolute;
        top: 186px;
        left: -15px;
        z-index: 1;
    }
     body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-disponible, .cupo-lleno, .hoy {
        justify-content: center;
        align-items: center;
        font-size: 12px
    }
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad .cupo-disponible .caja-1, .cupo-lleno .caja-2, .hoy .caja-3 {
        width: 21px;
        height: 21px;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-header nav, body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar  .view-content .month-view, body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
        transform: translateX(-110%);
        z-index: 1;
        background-color: white;
    }
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad div#magical-modal-link a {
        padding: 8px 13%;
    } 
    body .main-container .row section div.region.region-content {
        margin: 0px;
    }
    /* -\* Enlace ir a hoy - */
    body .main-container .row section div.region.region-content .view-id-consejero_calendar .view-header .today-now a {
        color: white;
        position: absolute;
        left: 117%;
        top: -75px;
        width: 47px;
    }
}
@media screen and (max-width: 768px) {
    body .main-container .row section div.region.region-content .view-id-consejero_calendar .view-header .today-now a {
        left: 84%;
    }  
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .date-calendar-today {
        left: 50px;
    }  
}
@media screen and (max-width: 674px) {
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav .prev {
        left: 7%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav .next {
        left: 77%;
    }
    body.page-calendario-consejero .row aside .well .Calendario_Contenedor .view-id-consejero_calendar .view-header nav h3 {
        left: calc(38% - 1em);
    }
}


@media screen and (max-width: 991px ) {
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
    width: calc(78.2% + 0.1%);
    }
}
@media screen and (max-width: 667px ) {
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
    width: calc(78.2% + 2px);
    }
}

@media screen and (max-width: 375px ) {
    body.page-calendario-consejero .row aside .well section.crear_disponibilidad {
    width: calc(78.2% + 4px);
    }
}
/*------------------ Media Query ------------------ */

/*------------------ Modal - Crear Disponibilidad  ------------------ */
/*.backdrop-default {
    background: #313232 !important;
}*/
.modal-dialog {
    width: 100% !important;
}
.modal-content {
    border-radius: 0px;
}
.modal-header {
    text-align: center;
    border-bottom: 1px solid transparent;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed .modal-header h4 {
    color: #41B65B;
    font-size: 21px;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content {
    width: 70% !important;
    margin: 0 auto;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form .consejero, .date {
    font-weight: normal;
    font-size: 18px;
    padding: 5px 0px 5px 9px;
    background: #D8EDD9;
    font-family: lato;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form .date {
    background-color: white;
    margin-left: 5%;
    margin-top: 10px;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form.ctools-use-modal-processed #edit-field-tipo-de-servicio, .ctools-use-modal-processed #edit-field-fecha, .ctools-use-modal-processed  #edit-field-lugar, .ctools-use-modal-processed  #edit-field-cupo, .ctools-use-modal-processed  #edit-field-repeticion, .ctools-use-modal-processed  #edit-actions {
    width: 85%;
    margin: 0 auto;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form .form-control {
    border: 1px solid black;
    border-radius: 1px !important;
    -webkit-appearance: button;
    background-image: url(../img/flecha.png);
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: 14px;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form .form-control:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(13, 13, 13, 0.25), 0 0 8px rgb(192, 196, 198);
    box-shadow: inset 0 1px 1px rgba(13, 13, 13, 0.25), 0 0 8px rgb(192, 196, 198);
}

/* -\* checkbox *\- */
.modal-body #edit-field-repeticion .form-radios {
    display: flex;
    justify-content: space-around;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around; 
}
.modal-body #edit-field-repeticion .form-radios .form-type-radio:nth-child(1) {
    display: none;
}
.modal-body #edit-field-repeticion .form-type-radio  {
    width: 20px;
    height: 20px;
    background: #fff;
    margin: 14px 1px !important;
    position: relative;
    border: 1px solid black;
}
.modal-body #edit-field-repeticion input[type=radio] {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: caret;
    color: #FFF;
    overflow: hidden;
    width: 15px;
    height: 15px;
    position: absolute !important;
    left: 21px;
    top: -2px;
    
}
.modal-body #edit-field-repeticion input[type=radio]:checked {
    background-color:#26ca28;
}
/* -\* caja - fecha *\- */
#edit-field-fecha fieldset {
    border-color: transparent;
}
#edit-field-fecha fieldset legend, .date-float {
    display: none;
}


/* -\* Calendario interno -Modal Crear Disponivilidad *\- */
div#ui-datepicker-div {
    border: 1px solid #666;
    background: white;
    border-radius: 0px;
}

div#ui-datepicker-div .ui-datepicker-header {
    border: 1px solid transparent;
    background: white;
}

div#ui-datepicker-div .ui-datepicker-header .ui-icon-circle-triangle-w {
    background: url(../img/flecha.png) no-repeat;
    background-size: contain;
    transform: rotate(90deg);
}
div#ui-datepicker-div .ui-datepicker-header .ui-icon-circle-triangle-e {
      background: url(../img/flecha.png) no-repeat;
    background-size: contain;
    transform: rotate(269deg);
}
div#ui-datepicker-div .ui-datepicker-header .ui-datepicker-month, .ui-datepicker-year {
    -webkit-appearance: inherit;
    border: 1px solid transparent;
    background: white;
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
}
div#ui-datepicker-div table thead th {
    font-weight: normal;
    font-size: 13px;
}
div#ui-datepicker-div table td a {
    border: 1px solid transparent;
    background: white;
    color: #000;
    text-align: center;
}
div#ui-datepicker-div table td a.ui-state-highlight  {
    border: 1px solid #4C48A8;
    background: #4C48A8;
    color: white;
}

/* -\* Button - guardar - cancelar  *\- */
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form #edit-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form #edit-actions a {
    border: 1px solid #4cae4c;
    color: black;
    background: #ffff !important;
    padding: 4px 22px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form #edit-actions button {
    font-size: 13px;
    border-radius: 0px;
    background: transparent;
    color: black;
    padding: 0px 27px !important;
    height: 31px;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form #edit-actions button span {
    display: none;
}
.modal-dialog.node-disponibilidad-form.ctools-use-modal-processed #modal-content form #edit-actions button .glyphicon-refresh {
    display: none;
}

/*------------------ Modal - Disponibilidad calendario  ------------------ */
.modal-dialog.node-teaser .modal-content {
    border-radius: 0px;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
}
.modal-dialog.node-teaser .modal-content::before {
    content: "";
    position: absolute;
    top: 18px;
    left: -9px;
    width: 2em;
    height: 2em;
    background-color: white;
    transform: rotate(46deg);
}
.modal-dialog.node-teaser .modal-content #modal-content {
    width: 99% !important;
}
.modal-dialog.node-teaser .modal-content .modal-header h4#modal-title {
    color: #41B65B;
    font-size: 18px;
}
.modal-dialog.node-teaser .modal-content #modal-content article header, .field-name-field-fecha .field-label ,.field-name-field-operaciones .field-label, footer {
    display: none;
}

.modal-dialog.node-teaser .modal-content #modal-content article .field-label, .field-items, .field-items a {
    font-family: Lato;
    font-size: 13px;
    color: #231F20;
}
.modal-dialog.node-teaser .modal-content #modal-content article .field-name-field-fecha, article .field-name-field-lugar, article .field-name-field-tipo-de-servicio {
    display: inline-flex;
    width: 100%;
    border: 1px solid #E4F7E4;
    background-color: #E4F7E4;
}

.modal-dialog.node-teaser .modal-content #modal-content article .field-name-field-cupo {
    background-color: transparent;
    margin: 10px 0px;
}

.modal-dialog.node-teaser .modal-content #modal-content article .operation-node {
    display: inline-flex;
}
.modal-dialog.node-teaser .modal-content #modal-content article .operation-node .create, .edit, .delete {
    margin: 2px;
}
.modal-dialog.node-teaser .modal-content #modal-content article .operation-node a {
    text-align: center;
    text-decoration: none;
    width: 105px !important;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    font-size: 11px;
    border: 2px solid#41B65B;
    padding: 0px 21px;
}
/*.modal-dialog.node-teaser {
        width: 57% !important;
}*/
/*------------------ Modal - Eliminar Disponibilidad  ------------------ */


.ctools-modal-dialog.modal-dialog.ctools-use-modal-processed.agenda-form .modal-header:before { 
    content: "";
    background: url("../img/andes.png")no-repeat;
    background-size: contain;
    width: 50px;
    height:50px;
    position: absolute;
    top: -8px;
    left: 43%;
}
.ctools-modal-dialog.modal-dialog.ctools-use-modal-processed.agenda-form .modal-header h4 {
    font-size: 22px;
    color: #231F20;
    font-weight: normal;
    margin-top: 50px;
}
.ctools-modal-dialog.modal-dialog.ctools-use-modal-processed.agenda-form #modal-content {
    padding: 0px 15px 15px;
}
.ctools-modal-dialog.modal-dialog.ctools-use-modal-processed.agenda-form #modal-content form#agenda-form div:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ctools-modal-dialog.modal-dialog.ctools-use-modal-processed.agenda-form #modal-content form#agenda-form #edit-from {
    font-size : 14px;
    color : #231F20;
    text-align: center;
}
.ctools-modal-dialog.modal-dialog.ctools-use-modal-processed.agenda-form #modal-content form#agenda-form button {
    border: 1px solid #4cae4c;
    border-radius: 0px;
    color: black;
    background: #ffff !important;
    padding: 4px 22px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    width: 101px;
}
.ctools-modal-dialog.modal-dialog.ctools-use-modal-processed.agenda-form #modal-content form#agenda-form button  span {
    display: none;
}
.ctools-modal-dialog.modal-dialog.ctools-use-modal-processed.agenda-form #modal-content form#agenda-form button .glyphicon-refresh {
    display: none;
}

/*------------------ Menu Buscar Citas - Historial Estudiante - Reportes TOR  ------------------ */
/* -\* Buscar *\- */
.views-exposed-form {
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
    justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
}

.views-exposed-form .views-exposed-widgets .views-exposed-widget {
    display: inline-flex
}
.views-exposed-form .views-exposed-widgets label {
    position: relative;
    color: #4cae4c;
    word-break: break-all;
    width: 58px;
    text-align: center;
    margin: 13px 16px 0px 0px;
    font-size: 15px;
    font-family: lato;
}
.views-exposed-form .views-exposed-widgets label::before {
    content: "";
    position: absolute;
    left: -11px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
}
.views-exposed-form .views-exposed-widgets .views-widget input {
    border-radius: 0px;
    border: 1px solid #F5F1F1;
    background: #F5F1F1;
    -webkit-box-shadow: inset 0 1px 1px transparent;
    box-shadow: inset 0 1px 1px transparent;
    width: 537px;
    height: 45px;
}
.views-exposed-form .views-exposed-widgets .views-widget input:focus{
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
    box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
}
.views-exposed-form .views-exposed-widgets .views-widget span {
    display: none;
}
/* -\* Button - Buscar - Reiniciar *\- */
.views-exposed-form .views-exposed-widgets .views-submit-button button, .views-reset-button button {
    margin-top: 0px !important;
    border-radius: 0px;
    border:1px solid transparent;
    text-indent: -99999px;
    width: 53px;
    height: 52px;
}
.views-exposed-form .views-exposed-widgets .views-submit-button button {
    background: url("../img/buscar.svg")no-repeat;
    background-size: 38px;
    background-position: 6px;
    background-color: #4cae4c;
}
.views-exposed-form .views-exposed-widgets .views-reset-button button {
    background: url("../img/reiniciar.png")no-repeat;
    background-size: 38px;
    background-position: 6px;
    background-color: #929497;
}

/* -\* Tabla de Citas  *\- */
.view-id-citas .view-content table {
    width: 99%;
}
.view-id-citas .view-content thead th {
    color: #4cae4c;
    border-bottom: 2px solid transparent; 
}
.view-id-citas .view-content tbody {
    background-color: #F5F1F1;
    padding: 10px;
}
.view-id-citas .view-content tbody tr {
    background-color: #F5F1F1;
}
.view-id-citas .view-content tbody tr td {
    border-width: 0px 1px 1px 1px;
    border-bottom-style: dashed;
    border-right-style: solid;
    border-color: #A6A8AB;
}
.view-id-citas .view-content tbody tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.view-id-citas .view-content tbody tr:last-child td {
    border-width: 0px 1px 0px 0px;
}
.view-id-citas .view-content tbody tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

/* -\* Pginador citas - Reportes TOR  *\- */
.view-id-citas ul.pagination {
    position: relative;
}
.view-id-citas ul.pagination::before {
    content: "";
    border-bottom: 1px solid #6D6E70;
    width: 397%;
    position: absolute;
    top: 15px;
    left: -504px;
} 
.view-id-citas ul.pagination::after {
    content: "";
    border-bottom: 1px solid #6D6E70;
    width: 397%;
    position: absolute;
    top: 15px;
    left: 164px;    
} 
.view-id-citas ul.pagination li.active span  {
    color: #000;
    cursor: default;
    background-color: #fff;
    border-color: #000;
    border-radius: 0px;
}
.view-id-citas ul.pagination li a {
    color: black !important;
    border: 0px solid;
}
.view-id-citas ul.pagination li.next > a  {
    text-indent: -9999px;
    background: url("../img/flecha.png")no-repeat;
    background-size: 11px;;
    background-position: 7px;
    transform: rotate(-89deg);
} 
.view-id-citas ul.pagination li.pager-last > a  {
    text-indent: -9999px;
    background: url("../img/pager-last.svg")no-repeat;
    background-size: 16px;
    background-position: 6px;
} 
.view-id-citas ul.pagination li.prev > a  {
    text-indent: -9999px;
    background: url("../img/flecha.png")no-repeat;
    background-size: 11px;;
    background-position: 7px;
    transform: rotate(89deg);
} 
.view-id-citas ul.pagination li.pager-first > a  {
    text-indent: -9999px;
    background: url("../img/pager-last.svg")no-repeat;
    background-size: 16px;
    background-position: 6px;
    transform: rotate(177deg);
}

/*------------------ Menu Historial Estudiante    ------------------ */

/* -\* Acordion  *\- */
.view-id-historial_estudiante_views .view-id-historial_estudiante {
    width: 99%;
}
.view-id-historial_estudiante_views .view-content .views-field-uid span {
    display: none;
}
.view-id-historial_estudiante_views .view-content .views-field .ui-state-default {
    border-radius: 0px;
    border: 1px solid #808184;
    background: #E6E7E8 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    color : #231F20;
    font-size : 18px;
    font-family: lato;

}
.view-id-historial_estudiante_views .view-content .views-field .ui-state-default.ui-state-active {
    border-radius: 0px;
    border: 1px solid #808184;
    background: #808184 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
}
.view-id-historial_estudiante_views .view-content .views-field .ui-state-default span.ui-accordion-header-icon {
    position: absolute;
    left: 95%;
    top: 50%;
    margin-top: -8px;
}
.view-id-historial_estudiante_views .view-content .views-field .ui-state-active .ui-icon { 
    background: url("../img/flecha.png")no-repeat !important;
    background-size: contain !important;
    transform: rotate(0deg) !important;
 }
.view-id-historial_estudiante_views .view-content .views-field .ui-state-default .ui-icon {
    background: url("../img/flecha.png")no-repeat;
    background-size: contain;
    transform: rotate(-180deg);
}

.view-id-historial_estudiante_views .view-content .ui-corner-bottom div span:nth-child(1) {
    font-weight : bold;
    font-size : 20px;
    line-height : 19.75px;
    color : #41B65B;
    font-family: Lato;
}
.view-id-historial_estudiante_views .view-content .ui-corner-bottom div span:nth-child(2) {
    display: inherit;
    margin: 10px 0;
}
.view-id-historial_estudiante_views .view-content .ui-corner-bottom div, .ui-corner-bottom a, .ui-corner-bottom  .date-display-single{
    font-family: Lato !important;
    font-size : 20px !important;
    color : #000000 !important;
    text-decoration: none;
    cursor: auto;
    padding: 10px 0;
}





