<!-- top search bar with start quiz button using bootstrap -->
<!-- <form class="form-inline well well-sm clearfix">
    <span class="glyphicon glyphicon-search"></span>
    <input 
        type="text" 
        placeholder="Buscar..." 
        class="form-control"
        ng-model="search">
</form> -->
<!-- Visualizacion de la información -->
<div class="col-xs-12 galeria">
	<div class="col-xs-12">
		<p class="title center-block"><span>galería</span><br>de recetas</p>
	</div>
	<div class="col-xs-12">
		<p class="subtitle"><span>Estas son las recetas que están</span><br>participando en nuestro concurso.</p>
	</div>
	<div class="col-xs-12 btn-participa"><a href="#login">Participa aquí</a></div>
	<div class="container">
		<div class="col-xs-12 col-sm-4" ng-repeat="gamer in data | orderBy:'-likes' | limitTo:6 ">
			<a href="#servicio/{{gamer.numerodedoc}}">
				<div class="col-xs-12 cont-receta" style="background-image: url({{gamer.imgPrincipal}});">
				<!-- <div class="col-xs-12 cont-receta1" style="background-image: url({{gamer.imgAntes}});"> -->
				<p class="receta">{{gamer.receta}}<br><span>{{gamer.nombre}} {{gamer.apellido}}</span></p>
			</div></a>
		</div>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-6" ng-repeat="oferts in data | filter : search">
		<div class="well well-sm">
			<div class="row">
				<div class="col-md-6">
					<img ng-src="{{oferts.imgProfile}}" alt="{{oferts.name}}" class="img-responsive img-rounded">
				</div>
				<div class="col-md-6">
					<p><strong>Nickname: </strong>{{oferts.nickname}}</p>
					<p><strong>Name: </strong>{{oferts.name}}</p>
					<p><strong>Lastname: </strong>{{oferts.lastname}}</p>
					<p><strong>Email: </strong>{{oferts.email}}</p>
					<p><strong>Profesion: </strong>{{oferts.profesion}}</p>
					<p><strong>Servicio: </strong>{{oferts.servicio}}</p>
	            	<p><strong>Celular: </strong>{{oferts.celular}}</p>
	            	<a href="#servicio/{{oferts.nickname}}" id="vanessa"><button class="btn btn-primary pull-right">Ver servicio</button></a>
				</div>
			</div>
		</div>
	</div>
</div> -->
 