
<div class="page-content">

<div class="row crear">
<div class="space-6"></div>
<div class="col-sm-10 col-sm-offset-1">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main" ng-repeat="oferts in data | filter : begin | limitTo:4">
            	<div class="titulo-receta">
                    <h1>{{oferts.receta}}</h1>
                    <p class="trajan">{{oferts.nombre}} {{oferts.apellido}}</p>
                </div>
                <button>Eliminar</button>
                <div class="fotos-recetas">
                	<div style="background-image: url({{img.img}});"><p>Antes</p></div>
                	<div style="background-image: url(img/receta-foto.jpg);"><p>Después</p></div>
                </div>

                <div class="info-receta">
                	<div class="campo-texto">
                        <h2>Ingredientes</h2>
                        <div>
                            <p>{{oferts.ingredientes}}</p>
                        </div>
                    </div>
                    <div class="campo-texto">
                        <h2>Preparación</h2>
                        <div>
                        	<p>{{oferts.preparacion}}</p>
                        </div>
                    </div>
                </div>
                <div class="otras">
                    <h2>Otras recetas</h2>
                </div>
                
            </div><!-- /widget-main -->

            
        </div><!-- /widget-body -->
    </div><!-- /login-box -->

</div><!-- /position-relative -->
</div>
</div><!-- /.page-content -->