@font-face {
  font-family: "Lato Bold";
  src: url('../fonts/Lato-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Light";
  src: url('../fonts/Lato-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Black";
  src: url('../fonts/Lato-Black.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Regular";
  src: url('../fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


// Sans-serif font stacks.
$lato-regular: 	  'Lato Regular';
$lato-Bold:       'Lato Bold';
$lato-Light:      'Lato Light';
$lato-Black:      'Lato Black';
