body{
	background-color:  black;
	background-image: url(../img/bg-pizarra.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	overflow-x: hidden;
}

.col-sm-offset-1{
	margin-top: 190px;
	position: relative;
	margin-bottom: 13%;
}

.crear .info-receta:after{
	position: absolute;
	content: "";
	width: 120%;
	height: 10vw;
	background-image: url(../img/avion.svg);
	background-repeat: no-repeat;
	background-size: contain;
	left: -10%;
	bottom: 6%;
}

.registro .title{
	font-family: CabinBold;
	font-size: 6rem;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	letter-spacing: 10px;
	max-width: 1000px;
    margin: 0 auto;
}

.terminos .title{
	font-family: CabinBold;
	font-size: 3rem;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	letter-spacing: 10px;
	max-width: 900px;
    margin: 0 auto;
}

.registro .title:before, .crear .subir:before, .titulo-receta:before, .terminos .title:before{
	position: absolute;
	content: "";
	width: 41px;
	height: 137px;
	background-image: url(../img/parentesis-izq.svg);
	background-repeat: no-repeat;
	background-size: contain;
	left: 60px;
    top: -32px;
}

.crear .subir:before{
	left: -20px;
    top: -2px;
}

.registro .title:after, .crear .subir:after, .titulo-receta:after, .terminos .title:after{
	position: absolute;
	content: "";
	width: 41px;
	height: 137px;
	background-image: url(../img/parentesis-der.svg);
	background-repeat: no-repeat;
	background-size: contain;
	right: 60px;
    top: -32px;
}

.crear .subir:after{
	right: -20px;
    top: -2px;
}

.registro h2, .crear h2{
	color: #fff;
	font-family: TrajanProRegular;
    font-size: 3rem;
    text-align: center;
}

.btn-facebook{
	width: 265px;
	height: 57px;
	-webkit-box-shadow: 0px 0px 65px 25px rgba(0,0,0,0.62);
	-moz-box-shadow: 0px 0px 65px 25px rgba(0,0,0,0.62);
	box-shadow: 0px 0px 65px 25px rgba(0,0,0,0.62);
	background-image: url(../img/facebook.png);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
    margin: 20px auto;
}

.form-horizontal{
	position: relative;
	padding-top: 15px;
	max-width: 840px;
	margin: 0 auto;
	text-align: center;
}

.widget-main .form-horizontal + .form-horizontal:before{
	position: absolute;
	content: "";
	width: 50%;
	height: 1px;
	left: 25%;
	background-image: url(../img/linea-punteada.png);
}

.form-horizontal .form-group{
	width: 50%;
	float: left;
	margin-right: 15px;
}

.form-horizontal .form-group label{
	width: 100%;
	text-align: left;
    color: #fff;
    font-family: CabinRegular;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-horizontal .form-group input, .form-horizontal .form-group select{
	background-color: transparent;
	border: none;
	color: #bebebf;
	font-family: CabinRegular;
	border-radius: 0;
	font-size: 1.4em;
	padding: 0;
	width: 100%;
}

.form-horizontal .form-group div:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #fff;
	left: 0;
}

.form-horizontal .form-group div{
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
}

.form-horizontal .clearfix{
	float: left;
    width: 100%;
    text-align: center;
	color: #fff;
	margin: 15px 0;
}

.form-horizontal .clearfix input[type=checkbox]{
	height: 14px;
    width: 20px;
}

.form-horizontal .clearfix button, .form-group .col-sm-12 button{
	padding: 5px 80px;
	border: 3px solid #68ba34;
	background-color: transparent;
	border-radius: 30px;
	font-size: 1.4em;
	font-family: CabinBold;
	margin: 10px auto;
	float: none !important;
	-webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.boton-participa{
	-webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.form-horizontal .clearfix button:hover, .boton-participa:hover{
	background-color: #68ba34;
}

.clearfix label{
	width: 100%;
}

.form-horizontal .subir{
	width: 100% !important;
	max-width: 820px;
	margin-left: 15px !important;
}

.form-horizontal .subir .trajan{
	color: #fff;
	font-family: TrajanProRegular;
	font-size: 3rem;
	margin-top: 31px;
}

.form-horizontal .sibir-imagen{
	float: left;
    width: 48%;
    margin: 0 1%;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 2% 3%;
    color: #fff;
    background-image: url(../img/ingredientes.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.form-horizontal .sibir-imagen + .sibir-imagen{
	background-image: url(../img/pincho.png);
	background-position: right bottom;
}

.form-horizontal .sibir-imagen .trajan, .titulo-receta .trajan{
	font-family: TrajanProRegular;
	font-size: 3rem;
}

.form-horizontal .sibir-imagen label{
	font-size: 1.5em;
	font-family: CabinRegular;
	color: #bebebf;
	margin-top: 17%;
    display: block;
}

.form-horizontal .sibir-imagen span{
    display: block;
    position: relative;
    margin-bottom: 20%;
}

.form-horizontal .sibir-imagen span input[type=file]{
    opacity: 0;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.form-horizontal .sibir-imagen span:before{
	content: "Subir imagen";
	position: absolute;
	width: 170px;
	height: 45px;
	border: 2px solid #fff;
	border-radius: 24px;
	left: calc(50% - 85px);
	top: 0;
	font-family: CabinRegular;
	font-size: 1.7rem;
	padding: 9px;
	pointer-events: none;
	z-index: 20;
}

.form-horizontal .campo-texto, .info-receta .campo-texto{
	width: 48%;
	margin: 0 1%;
	float: left;
}

.form-horizontal .campo-texto h2, .info-receta .campo-texto h2, .otras h2{
	font-family: CabinRegular;
	position: relative;
	margin: 7% 4%;
	font-size: 3.4rem;
}

.form-horizontal .campo-texto h2:before, .info-receta .campo-texto h2:before{
	position: absolute;
	content: "";
	width: 18px;
    height: 63px;
    background-image: url(../img/parentesis-izq.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 11%;
    top: -13px;
}

.form-horizontal .campo-texto h2:after, .info-receta .campo-texto h2:after{
	position: absolute;
	content: "";
	width: 18px;
    height: 63px;
    background-image: url(../img/parentesis-der.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 11%;
    top: -13px;
}

.form-horizontal .campo-texto textarea{
	border-radius: 10px;
	border: 2px solid #fff;
	background-color: transparent;
	font-family: CabinRegular;
	color: #fff;
	font-size: 2rem;
	padding: 2% 5%;
    width: 100%;
    min-height: 320px;
}

.info-receta{
	display: inline-block;
	margin-bottom: 5%;
	width: 100%;
}

.info-receta .campo-texto div{
	font-family: CabinRegular;
	color: #fff;
	font-size: 1.9rem;
	padding: 2% 8%;
    width: 100%;
    min-height: 320px;
}

.info-receta .campo-texto + .campo-texto div{
	font-size: 1.8rem;
	text-align: justify;
}

.info-receta .campo-texto div p{
	margin-bottom: 0;
}


.crear .clearfix{
	text-align: left;
	padding: 0 5%;
}

.crear .clearfix +.clearfix{
	text-align: center;
}

.crear:before{
	position: absolute;
	content: "";
	background-image: url(../img/ondas.png);
	background-repeat: no-repeat;
	left: 0;
	top: 86%;
	height: 150px;
	width: 170px;
}
.crear:after{
	position: absolute;
	content: "";
	background-image: url(../img/ondas.png);
	background-repeat: no-repeat;
	right: 0;
	top: 30%;
	height: 150px;
	width: 170px;
}

.crear .widget-main button{
	background-image: url(../img/button.png);
	background-repeat: no-repeat;
	width: 150px;
	border-radius: 10px;
	color: #ee6537;
	font-family: Cabinregular;
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    margin: 1% 0 2% calc(50% - 75px);
}

.titulo-receta{
	color: #fff;
	text-align: center;
}

.titulo-receta h1{
	font-family: CabinBold;
	font-size: 3.4em;
	letter-spacing: 4px;
	text-transform: uppercase;
	max-width: 800px;
	margin: 0 auto;
}

.fotos-recetas div{
	float: left;
	width: 49%;
	height: 39vw;
    overflow: hidden;
	margin: 0 0.5%;
	background-position: center center;
	background-size: cover;background-repeat: no-repeat;
	position: relative;
	color: #fff;
	font-family: TrajanProRegular;
	font-size: 3.9rem;
	text-align: center;
}

.fotos-recetas div:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 30%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.4);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.fotos-recetas div p{
	position: relative;
	z-index: 3;
	margin-top: 10px;
}

.otras{
	display: inline-block;
	text-align: center;
	width: 100%;
}



.slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

.terminos{
	color: #fff;
	font-family: Cabinregular;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1.5rem;
}

.terminos p{
	line-height: 1.5em;
}




/*-------------------------------*/
/*            Footer             */
/*-------------------------------*/

footer{
  background-color: #393939;
  background-image: url(../img/pat-diagonal.png);
  position: relative;
}

footer ul{
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 10px 35%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

footer ul li{
  list-style: none;
  float: left;
  width: 25%;
  padding: 0 5%;
}

footer p{
  text-align: center;
  color: #ffffff;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 7px;
}

footer p+p{
  background-color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0;
  padding: 5px;
}

footer p a{
  color: #ffffff;
  text-decoration: underline;
}

footer p a:focus{
	color: #fff;
}
footer ul a img{
  max-width: 38px;
}

footer .logo-jumbo{
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}

footer .logo-jumbo a{
	width: 116px;
	height: 140px;
	background-image: url(../img/jumbo-cencosud.svg);
	float: right;
	margin-top: -50px;
	margin-bottom: -100px;

}




/*-------------------------------*/
/*         Mediaqueries          */
/*-------------------------------*/
@media (max-width: 1190px){
	.crear:before, .crear:after{display: none;}
}
@media (max-width: 767px){
	footer ul{padding: 10px 2%;}
	footer .logo-jumbo{position: absolute;}
	footer ul li{width: 18%; padding: 0 2%;}
	footer ul li:nth-child(3){width: 28%; height: 10px;}
	footer .logo-jumbo a{float: inherit; width: 100px; height: 120px; margin: -90px auto 0; display: block;}
	.col-sm-offset-1{margin-top: 127px;}
	.form-horizontal .form-group{width: 100%; margin-right: 0; margin-left: 0%;}
	.widget-main, .container-fluid{/*margin-bottom: 90px;*/}
	.registro .title{font-size: 4rem;}
	.registro .title:before{width: 25px; height: 87px; left: 5px; top: -17px;}
	.registro .title:after{width: 25px; height: 87px; right: 5px; top: -17px;}
	.form-horizontal .sibir-imagen, .form-horizontal .campo-texto{width: 98%; margin-bottom: 3%;}
	.crear .subir:after, .crear .subir:before{right: -8px;}
	.titulo-receta h1{font-size: 2.1em; margin: 0 5% 3%;}
	.registro .title:before, .crear .subir:before, .titulo-receta:before, .registro .title:after, .crear .subir:after, .titulo-receta:after{width: 29px; height: 97px; top: -3px;}
	.registro .title:after, .crear .subir:after, .titulo-receta:after{right: 3%;}
	.registro .title:before, .crear .subir:before, .titulo-receta:before{left: 3%;}
	.form-horizontal .campo-texto h2, .info-receta .campo-texto h2, .otras h2{font-size: 2.4em;}
	.form-horizontal .campo-texto, .info-receta .campo-texto{width: 98%;}
	.crear .info-receta:after{width: 100%; left: 0;}
	.fotos-recetas div{font-size: 2.2rem;}
}

@media (max-width: 992px){
	footer:before, footer:after{display: none;}
}

