/*-----------------------------------------------------Fonts2---------------------------------------------------*/
@font-face {
    font-family: CabinBold;
    src: url(../fonts/CabinBold.ttf);
}
@font-face {
    font-family: CabinRegular;
    src: url(../fonts/CabinRegular.ttf);
}
@font-face {
    font-family: CabinSemiBold;
    src: url(../fonts/CabinSemiBold.ttf);
}
@font-face {
    font-family: TrajanProBold;
    src: url(../fonts/TrajanProBold.ttf);
}
@font-face {
    font-family: TrajanProRegular;
    src: url(../fonts/TrajanProRegular.ttf);
}
/*---------------------------------------------------Estructura---------------------------------------------------*/
body{
    background: url(../img/menu.jpg);
    background-size: 100% 65px;
    background-repeat: no-repeat;
}
/*---------------------------------------------------Header---------------------------------------------------*/
.menu {
    margin-top: 65px;
    border-top: 4px solid white;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.logo{
    margin-top: -20px;
}
.nav.navbar-nav {
    font-size: 2rem;
    font-family: CabinSemiBold;
    padding-top: 15px;
}
.navbar-brand img{
    width: 15vw;
    margin-top: -55px;
    max-width: 218px;
    min-width: 118px;
}
.nav .navbar-nav li a{
    color: white;
}
.inicio-sesion{
    color: white;
    border-radius: 20px;
    border: 1.5px solid white;
    width: 245px;
    height: 40px;
    margin-top: -2px;
    text-align: center;
    padding-top: 7px;
}
.navbar-toggle {
    border: 2px solid green !important;
    border-radius: 26px !important;
    height: 46px;
    background-color: white !important;
    top:-33px;
}
.navbar-toggle span.icon-bar{
    background-color: black !important;
}
/*---------------------------------------------------Footer---------------------------------------------------*/
/*---------------------------------------------------Home---------------------------------------------------*/
.section1 {
    margin-top: 65px;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding-top: 130px;
    padding-bottom: 100px;
    text-align: center;
    background-size: cover;
}
.section1 .image div img{
    height: 22vw;
    max-height: 320px;
}
.section1 .info {
    padding-top: 8px;
}
.section1 .title{
    padding-bottom: 7px;
    background: url(../img/antes-y-despues.png);
    background-size: 85% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 41px;
    font-family: TrajanProRegular;
    font-size: 2.7rem;
    line-height: 40px;
}
.section1 p {
    color: white;
    text-align: center;
}
.section1 p span {
    color: #7cc001;
    font-size: 4rem;
    font-family: TrajanProBold;
}
.section1 .description{
    text-transform: initial;
    padding-top: 12px;
    padding-bottom: 20px;
    max-width: 490px;
    font-family: CabinRegular;
    font-size: 2.2rem;
}
.boton-participa {
    width: 250px;
    border: 3px solid #68b834;
    height: 50px;
    border-radius: 25px;
    background: transparent;
    color: white;
    text-decoration: none;
}
.boton-participa a{
    font-family: CabinBold;
    font-size: 2.5rem;
}
a, a:hover{
    color: white;
    text-transform: initial;
    text-decoration: none;
}
div.section2:after{
    background-image: url(../img/comidaperuana.png);
    right:0;
    top:-25%;
    content:"";
    display:block;
    height:139%;
    position:absolute;
    max-width:377px;
    min-width: 120px;
    width: 24vw;
    z-index: 2;
    background-repeat: no-repeat;
    -webkit-animation-name: entradaperu; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-name: entradaperu;
    animation-direction: alternate;
}

    @-moz-keyframes entradaperu {
    from {right:-297px;}
    to {right:0;}
    }
    @-webkit-keyframes entradaperu {
    from {right:-297px;}
    to {right:0;}
    }

div.section2:before  { 
    background-image: url(../img/comidaitaliana.png);
    left:0;
    top:-10%;
    content:"";
    display:block;
    height:120%;
    position:absolute;
    max-width:322px;
    min-width: 120px;
    width: 20vw;
    z-index: 2;
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-animation-name: entrada; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: entrada;
    animation-direction: alternate;
}

    @-moz-keyframes entrada {
    from {left:-297px;}
    to {left:0;}
    }
    @-webkit-keyframes entrada {
    from {left:-297px;}
    to {left:0;}
    }

.section2 {
    margin-top: -75px;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: white;
    text-align: center;
    background-size: 100% 100%;
    background-position: top center;
}
.section2 .title{
    font-size: 5rem;
    font-family: CabinBold;
    color: black;
    text-transform: uppercase;
}
.der p{
    margin-right: 10px;
}
.izq p{
    margin-left: 10px;
}
.izq{
    border-left: 2px solid #68b834;
}
.izq p, .der p{
    margin-top: 10px;
    font-family: CabinRegular;
    color: black;
    font-size: 2.3rem;
    line-height: 2.8rem;
    max-width: 320px;
}
.cursode{
    font-size: 2.5rem;
}
.cocina{
    font-family: CabinBold;
    font-size: 4.2rem;
    line-height: 6rem;
}
.section3 {
    width: calc(100% + 60px);
    margin-left: -30px;
    padding-top: 70px;
    padding-bottom: 100px;
    background-image: url(../img/tablero2.jpg);
    text-align: center;
    background-size: cover;
    color: white;
    z-index: 1;
}
.section3 .title{
    padding-bottom: 7px;
    background: url(../img/instrucciones.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -30px;
    font-family: TrajanProRegular;
    font-size: 2rem;
    text-transform: lowercase;
    padding-top: 20px;
    margin-bottom: 100px;
    line-height: 20px;
}
.section3 .title span{
    font-family: CabinBold;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 2rem;
}
.uno{
    padding-top: 72px;
    max-width: 485px;
    position: relative;
    margin-left: calc(29% - 243px);
    margin-bottom: -100px;
}
.uno:before{
    position: absolute;
    content: "";
    background: url(../img/uno.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 130px;
    height: 130px;
    left: -36px;
    top: 0px;
}
.uno p{
    font-size: 3rem;
    margin-left: 39px;
    font-family: CabinRegular;
    line-height: 32px;
}
.uno span.verdeunder, .uno a.verdeunder {
    text-decoration: underline;
    text-transform: uppercase;
    color: #97c140;
    font-family: CabinSemiBold;
}
.uno span.chica, .cuatro span.chica, .chef span.chica {
    font-size: 2rem;
}
.dos {
    padding-top: 35px;
    margin-top: 137px;
    position: relative;
    max-width: 421px;
    margin-left: calc(24% - 210px);
}
.dos:before{
    position: absolute;
    content: "";
    background: url(../img/dos.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 117px;
    height: 130px;
    left: -75px;
    top: 13px;
}
.dos p{
    font-size: 2.5rem;
    font-family: CabinRegular;
    line-height: 27px;
    margin-left: -5px;
}
.dos span.verdeunder, .dos a.verdeunder {
    text-decoration: underline;
    text-transform: uppercase;
    color: #97c140;
    font-family: CabinSemiBold;
    font-size: 3.1rem;
    line-height: 5rem;
}
.dos span.chica {
    font-size: 1.7rem;
}
.tres {
    padding-top: 40px;
    margin-top: 15px;
    margin-left: calc(27% - 243px);
    max-width: 500px;
    position: relative;
}
.tres:before{
    position: absolute;
    content: "";
    background: url(../img/tres.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 127px;
    height: 130px;
    left: 0px;
    top: -6px;
}
.tres p{
    font-size: 2.8rem;
    font-family: CabinRegular;
    margin-left: 80px;
    line-height: 34px;
    padding-bottom: 25px;
}
.tres span.verdeunder {
    text-decoration: underline;
    text-transform: uppercase;
    color: #68b834;
    font-family: CabinSemiBold;
    font-size: 4.5rem;
}
.cuatro {
    padding-top: 20px;
    margin-top: 81px;
    position: relative;
    max-width: 493px;
    margin-left: calc(25% - 210px);
}
.cuatro:before{
    position: absolute;
    content: "";
    background: url(../img/cuatro.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 128px;
    height: 122px;
    left: -101px;
    top: 16px;
}
.cuatro p{
    font-size: 2.9rem;
    font-family: CabinRegular;
    line-height: 32px;
    margin-left: -30px;
    padding-bottom: 45px;
}
.cuatro span.grande{
    font-size: 4rem;
    font-family: CabinBold;
    text-transform: uppercase;
    line-height: 5rem;
}
.chef {
    padding-top: 20px;
    margin-top: 81px;
    position: relative;
    max-width: 345px;
    margin-left: calc(32% - 210px);
    text-align: left;
}
.chef:before{
    position: absolute;
    content: "";
    background: url(../img/Juan_diego_vanegas.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 229px;
    height: 214px;
    left: -252px;
    top: 11px;
}
.chef p{
    font-size: 2.3rem;
    font-family: CabinRegular;
    line-height: 32px;
    margin-left: -30px;
    padding-bottom: 45px;
}
.chef span.grande{
    font-size: 4rem;
    font-family: CabinBold;
    text-transform: uppercase;
    line-height: 5rem;
}
.section4 {
    width: calc(100% + 60px);
    margin-left: -30px;
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: white;
    background-size: cover;
    color: black;
    z-index: 1;
}
.section4 .title span{
    font-family: CabinBold;
    font-size: 6rem;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    line-height: 2rem;
}
.section4 .title{
    text-align: center;
}
.section4 .subtitle span {
    font-family: CabinBold;
    font-size: 2.5rem;
    text-align: center;
}
.section4 p.subtitle {
    font-size: 2rem;
    font-family: CabinRegular;
}
.section4:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 198px;
    background-image: url(../img/senefas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: -9px;
    left: 0;
    z-index: -1;
}
.btn-vermas {
    text-align: right;
    text-decoration: underline;
    font-family: CabinSemiBold;
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.btn-vermas a {
    color: #97c140;
}
.cont-receta {
	max-height: 370px;
    height: calc(50vw - 390px);
    min-height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    color: white;
    font-size: 5rem;
    font-family: CabinRegular;
    box-shadow: 0px 4px 14px rgba(136, 136, 136, 0.2);
    background-position: center;
    position: relative;
}

.cont-receta:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
p.receta {
    font-family: TrajanProRegular;
    font-size: 2vw;
    position: absolute;
    bottom: 0px;
    line-height: 27px;
}
.receta span.ng-binding {
    font-size: 2.3rem;
    font-family: CabinRegular;
    text-transform: capitalize;
}
/*---------------------------------------------------GALERIA---------------------------------------------------*/
.galeria {
    width: calc(100% + 60px);
    margin-left: -45px;
    margin-top: 230px;
    margin-bottom: 100px;
    background-size: cover;
    color: white;
    z-index: 1;
}
.galeria .title span{
    font-family: CabinBold;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 4rem;
}
.galeria .title {
    text-align: center;
    font-size: 3rem;
    font-family: TrajanProRegular;
}
.galeria .subtitle span {
    font-family: CabinBold;
    font-size: 3rem;
    text-align: center;
}
.galeria p.subtitle {
    font-size: 2rem;
    font-family: CabinRegular;
    padding-top: 50px;
    text-align: center;
}
.btn-participa {
    text-align: center;
    padding: 50px 0px 100px;
    font-size: 2.5rem;
    font-family: CabinRegular;
}
.btn-participa a {
    border: 2px solid #97c140;
    padding: 5px 35px 9px;
    border-radius: 25px;
}
.galeria .cont-receta {
    max-height: 370px;
    height: calc(50vw - 390px);
    min-height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    color: white;
    font-size: 5rem;
    font-family: CabinRegular;
    box-shadow: 10px 10px 5px rgba(6, 6, 6, 0.15);
    background-position: center;
}
.galeria .title:before {
    position: absolute;
    content: "";
    width: 41px;
    height: 137px;
    background-image: url(../img/parentesis-izq.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 30vw;
    top: -32px;
}
.galeria .title:after {
    position: absolute;
    content: "";
    width: 41px;
    height: 137px;
    background-image: url(../img/parentesis-der.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 30vw;
    top: -32px;
}

.galeria-home{
    display: inline-block;
    width: 100%;
}

/*---------------------------------------------------Media Queries---------------------------------------------------*/
/*---------------------------------------------------Celular---------------------------------------------------*/
@media screen and (max-width: 575px) {
	.cont-receta{
		max-height: 610px;
    	height: 80vw;	
	}
	.galeria .title:before {
	    left: 10vw;
	}
	.galeria .title:after {
	    right: 10vw;
	}
    .section3 .title span{
        font-size: 3rem;
    }
    .section4 .title span{
        font-size: 4rem;
    }
    .container{
        padding: 0;
    }
    .uno, .dos, .tres, .cuatro, .chef{
        width: 100%;
        margin-left: 0;
    }
    .uno p, .dos p, .tres p, .cuatro p, .chef p{
        font-size: 2.4rem;
        line-height: 30px;
    }
}
/*---------------------------------------------------Celular---------------------------------------------------*/
@media screen and (min-width: 576px) and (max-width: 767px) {
	.galeria .title:before {
	    left: 10vw;
	}
	.galeria .title:after {
	    right: 10vw;
	}
}
/*---------------------------------------------------Tablet---------------------------------------------------*/
@media screen and (max-width: 991px) {
    .uno, .dos, .tres, .cuatro, .chef{max-width: inherit; width: 100%; margin-left: 0; padding-top: 14px;}
    .uno p, .dos p, .tres p, .cuatro p, .chef p{margin-left: 0; width: 100%; font-size: 2.4rem;}
    .uno:before, .dos:before, .tres:before, .cuatro:before{left: -10px; top: -33px; width: 60px; height: 60px; background-size: contain;}
    .cuatro{margin-top: 0;}
    .izq p, .der p{margin: 0 auto; width: 80%;}
    .section3{background-position: center;}
    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse{margin: 0;}
    .chef:before{background-size: contain; width: 137px; height: 129px; left: -25px; top: -107px;}
    .section1{padding-top: 30px;}
    div.section2:before{left: 0; top: 21%; height: 147px; background-size: contain; width: 78px; background-position: left;}
    div.section2:after{height: 175px; background-size: contain; width: 78px; top: 52%; background-position: right;}
    .izq{border-left: none;}
    .info .img-responsive{margin: 0 auto;}
    .galeria-home{ position: relative; display: inline-block; overflow-x: auto; overflow-y: hidden;}
    .galeria-home .content-galeria{width: 665%;}
    .galeria-home .ng-scope{ width: 80vw; height: 80vw; float: left;}
    .cont-receta{ max-height: 610px; height: 80vw;}
}
/*---------------------------------------------------Laptop---------------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.cont-receta{
		min-height: 280px;
	}
}
/*---------------------------------------------------Desktop---------------------------------------------------*/
@media screen and (min-width: 1200px){
	.cont-receta{
		min-height: 280px;
	}
	.galeria .title:before {
	    left: 33vw;
	}
	.galeria .title:after {
	    right: 33vw;
	}
}
