/* 
//------------------------------------------------------------------------------
// Creacion Citas
//------------------------------------------------------------------------------  
*/
.page-crear-citas {
	.main-container {
		padding: 0px;
		.region-content {
			padding: 0px;
		}
		h1.page-header {
			display: none;
		}
	}
}
@include respond-to('tablet-lg') {
	.page-crear-citas {
		.region-content {
			border: 3px solid $gray;
		}
	}
}
/* ------| Informacion de cita |----- */
.page-crear-citas {
	.informacion-disponibilidad {
		.view-content {
			.informacion-citas {
		    width: 100%;
		    display: inline-flex;
		    justify-content: center;
		    flex-wrap: wrap;
		    text-align: left;
		    margin-top: 40px;
		    margin-bottom: 40px;
		    .fecha, .hora {
		    	flex: 1 1 50%;
			    padding: 0px 10px 0px 10px;
		    	> span {
		    		color: #4cae4c;
				    font-size: 15px;
				    font-family: $lato-regular;
				    padding-right: 5px;
		    	}
		    	div {
		    		font-family: $lato-regular;
		    		color: $black;
		    	}
		    }
		    @include respond-to('tablet-lg') { 
					.fecha, .hora {
						flex: initial;
		    		display: inline-flex;
		    		border-right: 1px solid $gray;
					}
		    }
		    .lugar, .servicio {
		    	flex: 1 1 50%;
			    padding: 0px 10px 0px 10px;
		    	> span {
		    		color: #4cae4c;
				    font-size: 15px;
				    font-family: $lato-regular;
				    padding-right: 5px;
		    	}
		    }
		    @include respond-to('tablet-lg') { 
					.lugar, .servicio {
						flex: initial;
						display: inline-flex;
			    	border-right: 1px solid $gray;
					}
		    }
		    .servicio {
   				border-right: none;
		    }
			}
			@include respond-to('tablet-lg') { 
				.informacion-citas {
					flex-wrap: nowrap;
					text-align: center;
				}
			}
		}
	}
}
/* ------| Buscador |----- */
.page-crear-citas {
	.usuarios-agenda-de-servicios {
		.view-filters {
			.views-exposed-form {
	      .views-exposed-widgets {
			    display: flex;
			    justify-content: center;
			    padding: 0px;
        	margin-bottom: 25px;
			    .views-exposed-widget {
			    	&:nth-child(1) {
	        		display: inline-flex;
	        	}
    				padding: 0px;
			    	label {
			    		display: none;
			    	}
			    	@include respond-to('tablet-lg') { 
							label {
								display: block;
				    		position: relative;
						    word-break: break-all;
						    width: 69px;
						    text-align: center;
						    margin: 8px 16px 0px 0px;
						    font-family: $lato-regular;
						    font-size: 20px;
						    line-height: 28.75px;
						    color: $green;
						    font-weight: normal;
						    text-align: left;
						    &::before {
							    content: "";
							    position: absolute;
							    left: -22px;
							    top: 4px;
							    width: 0;
							    height: 0;
							    border-top: 10px solid transparent;
							    border-bottom: 10px solid transparent;
							    border-left: 10px solid $black;
								}
				    	}
			    	}
			    	.views-widget {
			    		margin: 0px 15px;
				    	input  {
        				height: 32px;
								font-family: $lato-Light;
								font-size: 20px;
								color: #000000;
								border-radius: 0px;
								border: 1px solid #F5F1F1;
								background: #F5F1F1;
								box-shadow: none;
								transition: none;
								:focus{
							    border-color: transparent;
							    outline: 0;
							    box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent;
								}
							}
							@include respond-to('tablet-lg') { 
								input {
									width: 537px;
									height: 45px;
								}
							}
							span {
								display: none;
							}
						}
						.dropdown {
							ul {
								border-radius: 0px;
							}
						}
						//button Buscar
						&.views-submit-button, &.views-reset-button {
							button {
								width: 30px;
								height: 30px;
								text-indent: -99999px;
								margin-top: 0px !important;
						    border-radius: 0px;
						    border:1px solid transparent;
						    &:hover { 
								  opacity: 0.5;
								}
							}
							@include respond-to('tablet-lg') {
								button { 
									width: 45px;
						    	height: 45px; 
								}
							}
						}
						&.views-submit-button {
							margin-right: 10px;
							button {
								background: url("../img/buscar.svg")no-repeat;
						    background-size: 19px;
	        			background-position: 5px;
						    background-color: #4cae4c;
						    outline: none;
							}
							@include respond-to('tablet-lg') {
								button {
									background-size: 34px;
							    background-position: 5px;
								}
							}
						}
						//button Reset
						&.views-reset-button {
							margin-right: 10px;
							button {
								background: url("../img/reiniciar.png")no-repeat;
						    background-size: 19px;
	        			background-position: 5px;
						    background-color: #929497;
						    outline: none;
							}
							@include respond-to('tablet-lg') {
								button {
									background-size: 34px;
							    background-position: 5px;
								}
							}
						}
			    }
				}
			}
		}
	}
}

/* ------| Informacion del estudiante agregado |----- */
.page-crear-citas { 
	.usuarios-agenda-de-servicios {
		.view-content {
			ul {
		    background: #F5F1F1;
		    min-height: 26pc;
		    -webkit-padding-start: 0px;
		    -moz-padding-start: 0px;
		    -webkit-margin-before: 0em;
		    -webkit-margin-after: 0em;
		    margin: 0 5%;
		    .lista-cita {
		    	list-style: none;
		    	.views-field.views-field-uid {
					  display: none;
					}
					> div {
						width: 100%;
						display: flex;
		        flex-direction: column;
		        border-bottom-style: solid;
		        border-right-style: none;
		        border-width: 1px;
		        border-color: #A6A8AB;
		        padding-top: 10px;
    				padding-bottom: 10px;
						span:first-child {
							color: $green;
					    font-size: 15px;
					    font-family: lato;
					    padding-right: 10px;
						}
						&:last-child {
				      border-bottom-style: none;
				      span:nth-child(1) {
				      	display: none;
				      }
				      @include respond-to('tablet-lg') {
				      	span:nth-child(1) {
				      		display: initial;
				      	}
				      }
				    }
				    div {
				    	font-family: $lato-regular;
				    	font-size: 14px;
				    	color: $black;
				    }
						@include respond-to('tablet-lg') {
							&:nth-child(-n+4) {
						    border-width: 0px 0px 1px 0px;
						    border-bottom-style: dashed;
							}
							&:nth-child(1n+5) {
							  padding-top: 10px;
							  border-color: transparent;
							}
						}
						select {
							width: 100%;
					    appearance: none;
					    border-radius: 0px;
					    border: 1px solid #929497;
					    background-image: url(../img/flecha.png);
					    background-repeat: no-repeat;
					    background-size: 17px;
					    background-position: 98% 7px;
					    background-color: $white;
					    box-shadow: inset 0px 0px 0px transparent;
					    padding: 4px;
					    outline: none;
						}
						@include respond-to('tablet-lg') {
							select {
								width: 150px;
							}
						}
					}
					@include respond-to('tablet-lg') {
						> div {
							width: 33.3333%;
							display: inline-flex;
							flex-direction: row;
						}
					}
		    }
			}
			@include respond-to('tablet-lg') { 
				ul {
					min-height: 10pc;
				}
	    }
		}
	}
}

/* ------| Button Agregar, Cancelar, Crear Cita |----- */
.page-crear-citas { 
	.agendar-citas {
		h2.block-title {
			display: none;
		}
		#agenda-records-form {
			//Button Crear Cita
			#js-ajax-elements-wrapper {
				text-align: center;
				.form-wrapper {
					> button {
						padding: 6px 12px;
				    border: 1px solid $green;
				    background: $white;
				    color: $black;
				    border-radius: 0px;
				    margin-top: -100px;
				    .glyphicon-refresh, span{
						  display: none;
						}
					}
					//Tabla Estudiante Agregado
					.container-inline {
				    display: flex;
				    flex-wrap: wrap;
				    border-width: 0px 0px 1px 0px;
				    border-bottom-style: double;
				    border-right-style: solid;
				    border-color: $gray;
				    text-align: center;
				    position: relative;
				    width: auto;
				    margin: 0px 5% 19px;
				    padding: 0px;
				    &:last-child {
    					border-bottom-style: initial;
						}
						.form-item {
							flex: 1 1 50%;
    					&:nth-child(1), &:nth-child(5)  {
								display: none;
							}
							&:nth-child(2), &:nth-child(3) {
								border-width: 0px 0px 1px 0px;
								border-bottom-style: dashed;
								border-right-style: solid;
								border-color: $gray;
								padding-bottom: 7px;
							}
							@include respond-to('tablet-lg') {
								&:nth-child(2), &:nth-child(3) {
									border-width: 0px 0px 1px 0px;
									border-bottom-style: dashed;
									border-right-style: solid;
									border-color: transparent;
									padding-bottom: 0px;
								}
							}
    					label {
								color: $green;
							}
							input {
								width: 100%;
								height: 34px;
								padding: 6px 12px;
								font-family: $lato-regular;
								font-size: 14px;
								color: $black;
								text-align: center;
								background-image: none;
								border-radius: 0px;
								border: none;
								border-right: 2px solid $gray;
								appearance: none;
								box-shadow: none;
								outline: none;
								// pointer-events: none;
							}
							&:nth-child(3) input {
								border-right: 2px solid transparent;
							}
							@include respond-to('tablet-lg') {
								&:nth-child(3) input {
									border-right: 2px solid $gray;
								}
							}
						}
						@include respond-to('tablet-lg') {
							.form-item {
								flex: 1 1 0px;
							}
						}
						#disable-quote {
							flex: 1 1 50%;
    					margin-bottom: 15px;
					    display: flex;
	            flex-direction: column;
	            justify-content: center;
	            align-items: center;
	            label {
								color: $green;
							}
							button {
						    padding: 6px 12px;
						    border: 1px solid #5cb85c;
						    background: #5cb85c; 
						    color: white;
						    border-radius: 0px;
						    width: 110px;
						    height: 34px;
						    span  {
								  display: none;
								}
							}
						}
						@include respond-to('tablet-lg') {
							#disable-quote {
								flex: 1 1 0px;
							}
						}
					}
					@include respond-to('tablet-lg') {
						.container-inline {
							flex-wrap: nowrap;
							border-bottom-style: dashed;
						}
					}
				}
			}
			//button Guardar, cancelar 
			> div:nth-child(2) {
				text-align: center;
				button#edit-submit {
					position: absolute;
	        top: 21px;
	        right: 91px;
	        left: auto;
	        text-indent: -999999px;
	        overflow: hidden;
	        background-image: url(../img/guardar.svg);
	        background-repeat: no-repeat;
	        background-size: contain;
	        background-color: transparent;
	        padding: 6px 16px;
	        border: none;
	        margin: 0px;
			    span {
					  display: none;
					}
				}
				@include respond-to('tablet-lg') { 
					button#edit-submit {
						position: initial;
				    color: white;
				    text-indent: initial;
				    border-radius: 0px;
				    border: 1px solid $green;
				    padding: 6px 20px;
				    margin-right: 10px;
				    margin-bottom: 15px;
				    background: $green;
				    .glyphicon-refresh {
						  display: none;
						}
					}
				}
				button#edit-cancelar {
					position: absolute;
	        top: 21px;
	        right: 39px;
	        text-indent: -999999px;
	        overflow: hidden;
	        background-image: url(../img/cancelar-x.svg);
	        background-repeat: no-repeat;
	        background-size: contain;
	        background-color: transparent;
	        padding: 6px 16px;
	        border: none;
	        margin: 0px;
			    span {
					  display: none;
					}
				}
				@include respond-to('tablet-lg') {  
					button#edit-cancelar {
						position: initial;
						margin-bottom: 15px;
						border: 1px solid $green;
						border-radius: 0px;
				    padding: 6px 20px;
				    background: $white;
				    color: $black;
				    text-indent: initial;
					}
				}
			}
		}
	}
}